@model IEnumerable<E_Library.Models.LendRequest>

@{
    ViewData["Title"] = "Index";
}

@* to add view of navbar in AllRequests page*@
<style>
.navbar {
    overflow: hidden;
    background-color: #333;
     list-style-type: none;
      margin-top:2px;
      padding: 0;
}

    .navbar a {
        display: block;
        float: left;
        font-size: 16px;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

</style>


  <div class="navbar"> 
            <a class="nav-link "  role="button" asp-controller="LendRequests" asp-action="IssuedRecords" aria-haspopup="true" aria-expanded="false">
                       Issued books
                     </a>

        <a class="nav-link" asp-controller="Books" asp-action="UserDash" role="button"  aria-haspopup="true" aria-expanded="false">
                       View books
                     </a>

           <a class="nav-link" asp-controller="LendRequests" asp-action="AllRequests" role="button"  aria-haspopup="true" aria-expanded="false">
                       Records
                     </a>

        </div>



<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LendStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LendDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FineAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
           
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.LendStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LendDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FineAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Book.BookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.LenId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LenId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LenId">Delete</a>
            </td>*@
        </tr>
        }

     
    </tbody>
</table>

